@tailwind base;
@tailwind components;
@tailwind utilities;


.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex-grow: 1;
  }
  
  footer {
    background-color: #374151;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background:#d1e5ff;
    height: 50%;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff,#ff22e6);
    border-radius: 20px;
    height: 5%;
}