@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background:#d1e5ff;
    height: 50%;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff,#ff22e6);
    border-radius: 20px;
    height: 5%;
}