@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url("./assets/vit_bg.png");
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-size: cover; /* Ensure the background image covers the entire viewport */
  z-index: -2;
  overflow: hidden;
}